@import 'src/styles.scss';

.navbar {
  background-color: var(--dell-white);
  color: var(--dell-carbon);
  position: fixed;
  top: $height-accessibility;
  right: 0;
  left: 0;
  min-height: $height-header;
  box-shadow: 0px 4px 4px #00000029;
}

.heigth-header {
  height: $height-header;
}

@media screen and (max-width: 576px) {
  .heigth-header {
    height: 0px !important;
  }
}
