<div class="jumbotron">
  <h1 class="display-4">{{ 'HOME.TITLE' | translate }}</h1>
  <p class="lead">{{ 'HOME.TEXT_2' | translate }}</p>
  <hr class="my-4">
  <p>{{ 'HOME.TEXT_2' | translate }}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">{{ 'HOME.TEXT_BTN' | translate }}</a>
  </p>
</div>