<nav class="navbar bottom navbar-expand navbar-light bg-light border-top">

  <a class="navbar-brand" href="https://www.linkedin.com/in/kamila-serpa">Linkedin</a>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">{{ 'FOOTER.COPYRIGHT' | translate }}</a>
      </li>
    </ul>
  </div>

</nav>