<div class="heigth-header"></div>

<div class="navbar navbar-expand-md navbar-midnight fixed-top">
  <div class="container-fluid">

    <div class="row no-gutter w-100">

      <div class="col col-xl-9 col-lg-8 col-md-8 sm-none"
        attr.aria-label="{{ 'ACESSIBILITY_BAR.TO_CONTENT' | translate }}">
        <span class="navbar-brand mb-0 h1">{{ 'ACESSIBILITY_BAR.TO_CONTENT' | translate }}</span>
      </div>

     

      <div class="col col-xl-3 col-lg-4 col-md-4">

        <div class="row no-gutter float-right w-100 d-flex justify-content-between">

          <!-- ALTO CONTRASTE -->
          <div class="d-inline">
            <button class="btn btn-warning" (click)="toogleHighContrastTheme()">
              <i class="bi bi-circle-half"></i>
            </button>
          </div>

          <!-- FLAGS PARA SELEÇÃO DE IDIOMA -->
          <div class="d-inline">
            <button class="language-flag flag-br" type="button" tabindex="0" (click)="setLanguage('pt-BR')"
              attr.aria-label="{{ 'HEADER.LANGUAGE.PORTUGUESE' | translate }}">
            </button>
          </div>

          <div class="d-inline">
            <button class="language-flag flag-us" type="button" tabindex="0" (click)="setLanguage('en-US')"
              attr.aria-label="{{ 'HEADER.LANGUAGE.ENGLISH' | translate }}">
            </button>
          </div>

          <div class="d-inline">
            <button class="language-flag flag-es" type="button" tabindex="0" (click)="setLanguage('es-ES')"
              attr.aria-label="{{ 'HEADER.LANGUAGE.SPANISH' | translate }}">
            </button> 
          </div>

        </div>
      </div>
    </div>

  </div>
</div>