@import '~src/assets/styles/responsive';
@import 'src/styles.scss';

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $height-accessibility;
  z-index: 1021;
}

.navbar-midnight {
  background-color: #00447c;
  color: white;
}

.heigth-header {
  height: $height-accessibility;
}

@media (max-width: 576px) {
  .sm-none {
    display: none !important;
  }
}

.language-flag {
  color: transparent;
  background: transparent;
  width: 35px;
  height: 35px;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

button > img:focus {
  border-radius: 5px; border: #000 solid 1px; display: inline-block;
}

.flag-br {
  background-image:url(https://img.geonames.org/flags/x/br.gif);
}
.flag-us {
  background-image:url(https://img.geonames.org/flags/x/us.gif);
}
.flag-es {
  background-image:url(https://img.geonames.org/flags/x/es.gif);
}