:host(app-alert) {
  z-index: 10000;
  position: fixed;
  top: 3vw;
  right: 1vw;
  max-width: 50vw;
}

@media (max-width: 576px) {
  :host(app-alert) {
    top: 3vw;
    right: 1vw;
    margin-left: 1vw;
    max-width: none;
  }
}

.alert {
  border-radius: .25rem;
  margin-bottom: 1rem;
}

.alert-heading .h3,
.alert-heading h4 {
  margin-top: 0;
}

.alert-danger .alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success .alert {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-info .alert {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-warning .alert {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}