<div *ngFor="let alert of alerts" class="alert-{{alert.type}}" id="alert">

  <div class="alert alert-dismissible" data-dismiss="alert" aria-expanded="true">
    <div class="less">

      <div class="d-flex justify-content-between">
        <div class="alert-heading d-flex align-items-center">
          <i class="icons {{alert.icon}} icon-h4" aria-hidden="true"></i>
          <h4 class="alert-title" tabindex="0">{{ alert.title | translate }}</h4>
        </div>

        <button type="button" tabindex="0" class="icons close-x"
          attr.aria-label="{{ 'ALERT.CLOSE' | translate }}" (click)="removeAlert(alert)"></button>
      </div>

      <p *ngIf="alert.message" class="alert-body">{{ alert.message | translate }}</p>

    </div>
  </div>
</div>
