/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'assets/styles/mixins';
@import 'assets/styles/high-contrast.scss';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

$height-accessibility: 69px;
$height-header: 56px;

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  min-height: calc(80vh);
  overflow-y: auto;
  transition: all 0.5s;
}