// --------- HIGH CONTRAST STYLE --------- //

.high-contrast-theme {
  div.app {
    background-color: black;
    color: white;
  }

  main {
    background: black;
    color: white;
  }

  #alert {
    .alert {
      color: yellow;
      background-color: #000;
      border-color: yellow;

      button {
        color: yellow;
      }
    }
  }

  .container {
    background-color: black;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: #fff;
  }

  // Buttons
  .btn-primary,
  .btn-secondary,
  .btn-white,
  .btn-light {
    background-color: yellow;
    border-color: yellow;
    color: black;
    mix-blend-mode: normal;
  }

  .btn.btn-primary.disabled {
    background-color: #333;
    border-color: #333;
    color: #808080;
  }

  .btn.btn-primary:not(:disabled):not(.disabled):hover,
  .btn.btn-secondary:not(:disabled):not(.disabled):hover,
  .btn.btn-white:not(:disabled):not(.disabled):hover,
  .btn.btn-light:not(:disabled):not(.disabled):hover {
    background-color: yellow;
    border-color: #333;
    color: black;
  }

  .btn:not(:disabled):not(.disabled):not(.btn-link):not(.accordion-btn):not(.secondary-accordion-btn):active {
    background-color: rgb(226, 248, 24);
    border-color: #333;
    color: black;
  }

  // Butons outline
  .btn-outline-primary,
  .btn-secondary {
    background-color: black;
    border-color: yellow;
    color: yellow;
  }

  .btn.btn-outline-primary.disabled {
    background-color: black;
    border-color: var(--dell-granite);
    color: var(--dell-granite);
  }

  .btn.btn-outline-primary:not(:disabled):not(.disabled):hover,
  .btn.btn-outline-white:not(:disabled):not(.disabled):hover,
  .btn.btn-secondary:not(:disabled):not(.disabled):hover {
    background-color: black;
    border-color: yellow;
    color: yellow;
  }

  .container-caparol {
    background-color: black;
  }

  .box-shadow {
    box-shadow: 0px 1px 9px 0px white !important;
    border: 1px solid white !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: white !important;
  }

  .card-body, .jumbotron {
    background-color: transparent !important;
  }
  .navbar {
    background-color: black;
    box-shadow: 0px 4px 4px var(--gray-dark);
    a,
    li {
      color: white;
    }
    .nav-item .nav-link {
      color: white !important;
    }
  }

  .bg-light {
    background-color: black !important;
    box-shadow: 0px 2px 2px white;
    color: white;
  }

  :host-context(.high-contrast-theme) {

    @include btn-contrast;
    @include headers-contrast;
    @include form-contrast;
    @include table-contrast;
    @include card-contrast;

    background-color: black;
    border-color: yellow;

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      color: white;
    }

    span {
      color: yellow;
    }

    label {
      color: white;
      span {
        color: white;
      }
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      color: white;
    }

    .border-top {
      border-top: 1px solid yellow;
    }

    .navbar {
      background-color: black;
      box-shadow: 0px 4px 4px var(--gray-dark);
      a,
      li {
        color: white;
      }
      .nav-item .nav-link {
        color: white !important;
      }
    }
    .bg-light {
      background-color: black !important;
      box-shadow: 0px 2px 2px white;
      color: white;
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .msthd-menu-top-item {
      &:hover,
      &[active] {
        background: white;

        .msthd-menu-top-link {
          color: --dell-sea-blue;
        }
      }
    }

    .icon-svg {
      fill: white;
    }

    .btn {
      border: .0625rem solid yellow;
      background-color: transparent;
      i {
        color: yellow;
      }
    }


    ::ng-deep {
      .modal-content {
        background-color: black;
        border: 2px solid white;

        @include btn-contrast;

        .close clr-icon {
          fill: yellow;
        }

        h3,
        p,
        .modal-title {
          color: white;
        }
      }
    }

  }
}