@mixin btn {
  .btn {
    border-width: 2px;
    cursor: pointer;
    font-size: 0.875em;
    font-weight: 500;
    min-width: 3.75rem;
    text-transform: uppercase;
  }

  .btn-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 2.3125rem;
    min-width: 2.1875rem;
    padding: 0;

    span {
      font-size: 1rem;
    }
  }

  .btn-primary,
  .btn-purchase {
    &:disabled {
      background-color: #cccccc;
      border-color: #cccccc;
      color: #767676;
    }
  }

  .btn-secondary {
    background-color: white;
    border-color: #6e2585;

    &:hover {
      border-color: #6e2585;
    }

    &:active {
      border-color: #6e2585;
    }

    &:disabled {
      color: #767676;
      border-color: #cccccc;
    }
  }

  .btn-link {
    text-transform: none;
    font-size: 0.875em;
    font-weight: 400;

    &:visited {
      color: #6e2585 !important;
    }
  }
}

@mixin btn-contrast {
  .btn-primary,
  .btn-purchase,
  .btn-secondary {
    background-color: yellow;
    border-color: yellow;
    color: black;

    &:disabled {
      background-color: #cccccc;
      border-color: #cccccc;
      color: #767676;
    }
  }

  .btn-link {
    color: yellow !important;

    &:disabled {
      color: #767676;
    }
  }
}

@mixin headers {
  .h1 {
    font-size: 1.75em;
    color: #444444;
    font-weight: bold;
  }

  .h2,
  .h3 {
    font-weight: 400;

    margin-bottom: 0.5rem;
    color: #444444;
  }

  .h2 {
    font-size: 1.75em;
  }

  .h3 {
    font-size: 1.125em;
  }
}

@mixin headers-contrast {
  .h1,
  .h2,
  .h3 {
    color: white;
  }
}

@mixin form {
  input,
  textarea,
  label,
  select,
  option {
    font-size: 0.875em;
    color: #444444;
  }

  .invalid-feedback {
    color: #ce1126;
    font-size: 0.875em;
    margin-top: 0.25rem;
  }

  label {
    font-size: 0.875em;

    span {
      color: #ce1126;
    }
  }

  label.form-check-label {
    span {
      color: #444444;
    }
  }

  .input--invalid {
    background-color: #ffffc9;
    border-color: #ce1126;

    &:focus {
      border-color: #ce1126;
      box-shadow: 0 0 0 0.15rem rgba(206, 17, 38, 0.25);
    }
  }
}

@mixin form-contrast {
  label,
  label > span,
  input,
  select,
  textarea {
    color: white;
  }

  input,
  select,
  textarea {
    background-color: black;

    &:focus {
      border-color: yellow;
      box-shadow: 0 0 0.375rem 0 yellow;
    }
  }
}

@mixin table {
  .table {
    border: 0.0625rem solid #eeeeee;

    thead th {
      display: flex;
      align-items: center;
      height: 3.5rem;
      font-size: 0.875em;
      font-weight: 500;
      border: none;
    }

    tr:last-of-type {
      border: 0.0625rem solid #eeeeee;
    }

    tr {
      padding-left: 1rem;
      padding-right: 1rem;
      border-left: 0.0625rem solid #eeeeee;
      border-right: 0.0625rem solid #eeeeee;

      td {
        border: none;
        display: flex;
        align-items: center;
      }
    }
  }
}

@mixin table-contrast {
  .table {
    color: white;
    border: 0.0625rem solid white;

    th {
      color: white;
    }

    tr:last-of-type {
      border: 0.0625rem solid white;
    }

    tr {
      border-left: 0.0625rem solid white;
      border-right: 0.0625rem solid white;
    }
  }
}

@mixin card-contrast {
  .card {
    border-color: white;
    background-color: black;
  }
}
