$tablet-width: 768px;
$desktop-width: 1170px;
$phone-width: 576px;

@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin big-phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
